<!DOCTYPE html>
<html>
    <body>
           
                
                
     <div class="big_div">
        <!--latest orders-->
        <form class="ls">
                <fieldset>
                <legend>Latest Orders:</legend>
                <a href="#">The Order and it's date</a>
                </fieldset>
        </form>


        <!--Friends activity-->
        <form class="factivity">
                <fieldset>
                <legend>Frinds Activity:</legend>
                <a href="#">Name </a>has created <a href="#">Order</a>for lunch from<a href="#">RestaurantName</a>
                </fieldset>
        </form>
    </div>

    </body>
</html>
