<!Doctype html>
<html>
	 <head>

       
   </head>
   <body>
	   
	
	   
	   
	<!--the form-->
	 <div class="container">
     <%= form_with model:  @order do |form| %>
			  
            <label for="country">Order for</label>
			<select id="country" name="order_for">
			  <option value="lnuch">Lunch</option>
			  <option value="breakfast">Breakfast</option>
			</select>
			  
			<label for="fname">From</label>
			<input type="text" id="fname" name="rest_name" placeholder="Your name..">

		
						<label for="lname">Friends</label>

     <select required name="friends" onclick="frirnds()">
         <option value="" disabled selected>Select Friend...
						<% for friend in @friends %>
						<option><%= friend.friend.name %></option>
						<% end %> 

						</select>
						<select name="groups" onclick="groups()" >
						<% for group in @groups %>
						<option><%= group.group_name %></option>
						<% end %> 

						</select>
			<input type="file" name="pic" accept="image/*">

			<input type="submit" value="Submit">
		
	
						<% end %>
				
						

						</div> 
	 

	 <!--the field set-->
	 <form class="fs">
		<fieldset>
		 <legend>Friends invited:</legend>
		 Friend Name: 
		 <div id="invited">
		
		
			

		 </div><br>
	   <button class="btn danger">Remove</button>
		</fieldset>
	 </form>

	 </body>
	 <script>
function frirnds()
{ 
	var arr=[]
	var  prsesnt;
	var parent = document.getElementById('invited')
	console.log(parent)
	friend=document.getElementsByName("friends")[0].value
  for i in arr 
	{
		if( i == friend)
			prsesnt= true;
			break;
		else
			prsesnt=false;
		

	}
	if (prsesnt==false)
		{
					
  var div = document.createElement("div");

  var para = document.createElement("p");

  var node = document.createTextNode(friend);

  para.appendChild(node);
  div.appendChild(para);
  parent.appendChild(div)
  arr.push(friend)

		}
		console.log(arr)
		return arr;




	

}
function groups()
{
	group=document.getElementsByName("groups")[0].value


}
	
	
	 </script>
</html>
