<!Doctype html>
<html>
	 <head>
	 <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>
		 <link rel="stylesheet" href="addorder.css">
		 <link rel="stylesheet" href="friends_activity.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
	   
	
	   
	   
	<!--the form-->
	 <div class="container">
     <%= form_with model:  @order do |form| %>
			  
            <label for="country">Order for</label>
			<select id="country" name="order_for">
			  <option value="lnuch">Lunch</option>
			  <option value="breakfast">Breakfast</option>
			</select>
			  
			<label for="fname">From</label>
			<input type="text" id="fname" name="rest_name" placeholder="Your name..">

		
						<label for="lname">Friends</label>

     <select required name="friends" onclick="frirnds()">
         <option value="" disabled selected>Select Friend...
						<% for friend in @friends %>
						<option><%= friend.friend.name %></option>
						<% end %> 

						</select>
						<select name="groups" onclick="groups()" >
						<% for group in @groups %>
						<option><%= group.group_name %></option>
						<% end %> 

						</select>
			<input type="file" name="pic" accept="image/*">

			<input type="submit" value="Submit">
		
	
						<% end %>
				
						

						</div> 
	 

	 <!--the field set-->
	 <form class="fs">
		<fieldset>
		 <legend>Friends invited:</legend>
		 Friend Name: 
		 <div id="invited">
		
		
			

		 </div><br>
	   <button class="btn danger">Remove</button>
		</fieldset>
	 </form>

	 </body>
	 <script>
function frirnds()
{ 
	var arr=[]
	var parent = document.getElementById('invited')
	console.log(parent)
	friend=document.getElementsByName("friends")[0].value

  var div = document.createElement("div");

  var para = document.createElement("p");

  var node = document.createTextNode(friend);

  para.appendChild(node);
  div.appendChild(para);
  parent.appendChild(div)

	

}
function groups()
{
	group=document.getElementsByName("groups")[0].value


}
	
	
	 </script>
</html>