<!Doctype html>
<html>
	 <head>

       
   </head>
   <body>
	   
	
	   
	   
	<!--the form-->
	 <div class="container">
	      <%= form_with model:  @order do |form| %>
			<input type="hidden" id="all" name="allF" value="3487">
			<input type="hidden" id="allg" name="allG" value="3487"> 


            <label for="country">Order for</label>
			<select id="country" name="order_for">
			  <option value="lnuch">Lunch</option>
			  <option value="breakfast">Breakfast</option>
			</select> <br>
			  
			<label for="fname">From</label>
			<input type="text" id="fname" name="rest_name" placeholder="restraunt name..">

		
						<label for="lname">Friends</label>

						<select name="friends" id="selectbox" onchange="frindsFunc()">
						<option >Select Friend ...
									   <% for friend in @friends %>
									   <option><%= friend.friend.email %></option>
									   <% end %> 
									   </select>
										 <br>
										 
									   <label for="lname">Groups</label>
										<select name="groups" id="selectboxg" onchange="groupsFunc()" >
									   <option >Select Group...
									   <% for group in @groups %>
									   <option><%= group.group_name %></option>
									   <% end %> 
									   </select>
									   <br>
										 <%= form.file_field :menu %>

										<input type="submit" value="Submit">
		
	
						<% end %>
				
						

						</div> 
	 

	 <!--the field set-->
	<div class="cont">

			<div class="in">
				<div id="invitedU" class="fs">
				</div><br>
			</div>

			<div class="in" >
				<div id="invitedG" class="fs">
				</div><br>
			</div>
	 
</div>

	 </body>
	 <script >
	 let frindsSent;
   
	 function frindsFunc()
	 {
	var parent = document.getElementById('invitedU')
	 var friend=document.getElementsByName("friends")[0].value
	  var div = document.createElement("div");
	
		var para = document.createElement("p");
		
	   
		var btn = document.createElement("button");
		btn.id= "new_btn";
	  btn.addEventListener("click", function(){
		  var textOpt= btn.previousSibling.textContent; 
		smalldiv=btn.parentNode
		smalldiv.parentNode.removeChild(smalldiv)
		btn.parentNode.parentNode
		var selectbox =document.getElementById('selectbox')
		var opt = document.createElement('option');
    opt.appendChild( document.createTextNode(textOpt ));
         opt.value = textOpt; 
     selectbox.appendChild(opt); 
	  }); 
	
	  var node = document.createTextNode(friend);
	 var selectbox = document.getElementById('selectbox')
	  para.appendChild(node);
	  div.appendChild(para);
	  div.appendChild(btn)
	  parent.appendChild(div)
	  var selectbox =document.getElementById('selectbox')
	  value = selectbox.selectedIndex
	  selectbox.removeChild(selectbox[value])
	
	
var frindsSent= document.getElementById('invitedU').children;
var listArray=[];
for (var i=0;i<frindsSent.length;i++){
listArray.push(frindsSent[i].textContent);
}
document.getElementById('all').value=listArray


	}


function groupsFunc()
{
	var parent = document.getElementById('invitedG')
	 var group=document.getElementsByName("groups")[0].value
	  var div = document.createElement("div");
	
	  var para = document.createElement("p");
		var btn = document.createElement("button");
		btn.id= "new_btn";
	  btn.addEventListener("click", function(){
		  var textOpt= btn.previousSibling.textContent; 

		smalldiv=btn.parentNode
		smalldiv.parentNode.removeChild(smalldiv)
		btn.parentNode.parentNode
		var selectbox =document.getElementById('selectboxg')

		var opt = document.createElement('option');

    opt.appendChild( document.createTextNode(textOpt ));

         opt.value = textOpt; 

     selectbox.appendChild(opt); 
	  }); 


	
	  var node = document.createTextNode(group);
	 var selectbox = document.getElementById('selectboxg')


	  para.appendChild(node);
	  div.appendChild(para);
	  div.appendChild(btn)

	  parent.appendChild(div)
	  var selectbox =document.getElementById('selectboxg')
	  value = selectbox.selectedIndex
	  selectbox.removeChild(selectbox[value])
	
	
	var groupssSent= document.getElementById('invitedG').children;
var listArrayg=[];
for (var i=0;i<groupssSent.length;i++){
listArrayg.push(groupssSent[i].textContent);
}

document.getElementById('allg').value=listArrayg
	
	}

	

	
	 </script>
</html>
