/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import"style";
@import "layout";

.size .field {
    width:100px; 
    left:600px;
    position:relative;
    color: #333; padding:5px; border:none; cursor:pointer;
    font-family:'lucida sans unicode',sans-serif; font-size:1em;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.size .field:hover {
   position:relative;
    border:solid 1px #fff;
    -moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}

.size>ul.list { 
    display:none;
    position:absolute; left: 65em; z-index:999;
    width:350px;
    margin:0; padding:0px; list-style:none;
    background:#fff; color:#333;
    -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
    -moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}

