
table, th, td {
    border: 1px solid black;
  }
  /* form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  } */
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
 
  
  .value-button:hover {
    cursor: pointer;
  }
   
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
    
  input#price {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input[type=price]::-webkit-inner-spin-button,
  input[type=price]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .popup{
    width: 800px;
    height: 600px;
    margin-top: 550px;
    position: relative;
    left: -950px;
  }


  .viewinvited{
    position: relative;
    left: -1200px;
    width: 600px;
    height: 600px;
    background-color: antiquewhite;
  }
  #myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 100px;
    display: none;
    height: 500px;
  }


  .blue{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
    width: 150px;
    border-radius: 15px;
    margin-left: -500px;
  }

 .blue{
   margin-left: 20px;
   
 }

 .blue_btn{
   margin-left: 700px;
   width: 200px;
   height: 200px;
   position: relative;
   top: -1100px;
   left: 200px;
 }
 
  .small_div{
    width: 260px;
    height: 100px;
    background-color:wheat;
    margin-left: 20px;
  }

 

  .popup{
    width: 800px;
    height: 600px;
    margin-left: 1000px;
    position: relative;
    top: -500px;
    float: left;
  }

 
  #viewinvited{
    width:800px;
    height: 800px;
    background-color: bisque;
    
  }
